@font-face {
    font-family: 'Lumios Brush';
    src: url('/MovimentaIF/assets/fonts/lumiosbrush_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bs-slate-700: #334155;
    --bs-slate-800: #1e293b;
    --color-light-bg: #f4f6f8;
    --bs-primary: #4078c0;
    --bs-secondary: #adb5bd;
    --bs-success: #198754;
    --font-title: 'Lumios Brush';
}

.logo-title {
    font-family: var(--font-title) !important;
    font-size: 2.0rem !important;
}

body {
    background-color: var(--color-light-bg);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
}

.bg-custom-white {
    background-color: white !important;
}

.text-custom-slate-700 {
    color: var(--bs-slate-700);
}

.text-custom-slate-800 {
    color: var(--bs-slate-800);
}

.nav-link {
    color: var(--bs-slate-700) !important;
    transition: background-color 0.15s, color 0.15s;
}

.nav-link:hover:not(.active) {
    color: var(--bs-primary) !important;
    background-color: rgba(64, 120, 192, 0.05) !important;
}

.nav-link.active {
    background-color: var(--bs-primary) !important;
    color: white !important;
    font-weight: 600;
}

.history-card {
    border-left: 5px solid var(--bs-primary);
}

.day-title {
    font-weight: bold;
    color: var(--bs-slate-700);
}

.workout-list-item {
    border-left: 3px solid var(--bs-primary);
    margin-bottom: 0.5rem;
}
