@font-face {
    font-family: 'Lumios Brush';
    src: url('/assets/fonts/lumiosbrush_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

        :root {
            --bs-slate-700: #334155;
            --bs-slate-800: #1e293b;
            --color-light-bg: #f4f6f8;
            --bs-primary: #4078c0;
            --bs-secondary: #adb5bd;
            --font-title: 'Lumios Brush';
        }

        .logo-title {
            font-family: var(--font-title) !important;
            font-size: 2.0rem !important;
        }

        body {
            background-color: var(--color-light-bg);
            font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

        .bg-custom-white {
            background-color: white !important;
        }

        .nav-link.active {
            background-color: var(--bs-primary) !important;
            color: white !important;
            font-weight: 600;
        }

        .form-check-label {
            font-weight: 500;
        }